.header {
    background-color: aquamarine;
    width: 1440px;
    text-align: center;
}

.main {
    height: 500px;
    width: 1440px;
    background-color: rgb(255, 251, 244);
}

.JSON {
    width: 500px;
    height: 10rem;
}
.JSONResults{
    font-size:12px;
    width: 1000px;
}
